.headerWrapper {
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin: 10px 0 20px;
    box-shadow: 0 8px 24px rgba(15,23,42,0.08);
}

.iconWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}