.wrapper {
    margin: 0 15px 100px;
}

.tasksWrapper {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.label {
    font-size: 25px;
    gap: 15px;
}

.circularProgressContainer {
    position: fixed;
    top: 30%;
    text-align: center;
    width: 100%;
}
