.wrapper {
    padding: 15px;
    background-color: rgb(240, 241, 241);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(15, 23, 42, 0.06);
}

.addWrapper {
    display: flex;
    gap: 5px;
}

li {
    display: flex;
    justify-content: space-between;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.done {
    color: rgba(128, 128, 128, 0.63);
    text-decoration: line-through;
}

.active {
    font-weight: 600;
}
